<div class="ctn-home">

  <div class="wrapper-content">
    
    <div class="content">

    
      <div>
          <app-header></app-header>  
      </div>
      
      <div>
        <h1>
          Más que un <span class="color-emerald">meetup,</span> <br>
          somos una <span class="color-emerald">comunidad</span>
        </h1>
        <div class="text-next-meetup"><span>Meetup #5</span> próximo sábado 07 de octubre</div>
      </div>

    </div>

  </div>

  <div class="back-patter"></div>
</div>

